*{
	box-sizing: border-box;
}

body { 	 
	background-color: #DDDDDD;
}

header { padding-top: 30px; 
		 background-color: #002171; 
		 line-height: 120px;
		 text-align: center;  
		}
		 
header a {
	text-decoration: none;
}

header a:link{
	color: white;
}

header a:visited{
	color: white;
}

header a:hover{
	color: #33FF33;
}

header a:active{
	color: white
}

h1 { color: white; 
	 margin-bottom: 0;
	 font-size: 3em;
	 letter-spacing: .25em;
	 }

main{
	margin-left: 190px;
	background-color: white;
	padding: 1px 20px 20px 30px;
	display: block;
	overflow: auto;
}
		 
nav { 
      color: white;
	  font-weight: bold;
	  text-align: left; 
	  font-size: 130%;
	  width: 160px;
	  line-height: 1.3;
	  float: left; 
	  padding-top: 1em;
	}
	  
nav a { text-decoration: none;
}

nav a:link{
	color: #5C7FA3;
}

nav a:visited{
	color: #5C7FA3;
}

nav a:hover{
	color: red;
}

nav ul{
	list-style-type: none;
}

footer { font-size: small;
         font-style: italic;
		 text-align: center;
		 padding-bottom: 20px;
		 margin-left: 190px;
		 background-color: white;
		}

section{
	width: 33%;
	float: left;
	padding: 10px;
}

section h3{
	text-align: center;
}

#homehero{
	background-image: url("../images/trees.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 300px;
	margin-left: 190px;
}

#herotext{
	font-size: xxx-large;
	text-align: center;
	color: white;
	padding-top: 100px;
}

#tree{
	width: 100px;
	float: right;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	border: 2px solid black;
}
		
#wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	min-width: 960px;
	max-width: 1600px;
	background-color: #91B5E9;
	background-image: linear-gradient(to bottom, #FFFFFF, #91B5E9);
	background-repeat: no-repeat;
	box-shadow: 3px 3px #003333;
	border: 2px solid black;
}